.two-part {
    padding: 100px 10px;
  
  
    .two-part-container {
      display: flex;
      gap: var(--unit);
      .two-part-left{
        border-left: 4px solid var(--accent);
        padding-left: 20px;
        .two-part-p{
          padding: 10px 0px;
        }
      }
    }
  
      }

       @media only screen and (max-width:800px){
        .two-part {
            padding: 100px 10px;
          
          
            .two-part-container {
             flex-direction: column;
              gap: calc(var(--unit) * 6);
              .two-part-left{
                border-left: 4px solid var(--accent);
                padding-left: 20px;
                .two-part-p{
                  padding: 10px 0px;
                }
              }
            }
          
          }
       }