.blog-parent {
  padding: 200px 0px 100px 0px;
  background: var(--backcolor1);
  height: auto;

  .blog-cont {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;

    .top {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      border: 1px solid rgb(19, 1, 1);
      justify-content: center;
      align-items: center;

      .blog-card {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background: white;
        // width: calc(100% / 3 - 10px);
        width: 320px;
        overflow: hidden;

        .blog-card-top {
          position: relative;

          .img-overlay {
            background: linear-gradient(to bottom, #c40b0b00, #000000df);
            z-index: 6;
            position: absolute;
            height: 100%;
            width: 100%;
          }

          .bg-img {
            // mix-blend-mode: luminosity;
            width: 100%;
            height: 220px;
          }

          &::after {
            content: "+";
            position: absolute;
            height: 100%;
            width: 100%;
            top: -100%;
            left: 0;
            background: rgba(0, 0, 0, 0.486);
            z-index: 1;
            transition: var(--quick);
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--white);
            font-size: 50px;
          }

          .category-date-box {
            display: flex;
            bottom: 0;
            position: absolute;
            justify-content: space-between;
            width: 100%;
            padding-left: 10px;
            color: white;
            z-index: 10;

            .category-title-box {
              bottom: 0;

              align-items: center;

              .category-title {
                bottom: 10px;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                svg {
                  font-size: 20px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

              }

            }

            .blog-date {

              background: var(--accent);
              color: var(--white);
              display: flex;
              flex-direction: column !important;
              padding: 10px 20px;
              border-radius: 10px 10px 0px 0px;
              align-items: center;
              z-index: 2;
            }
          }

        }

        .blog-card-bottom {
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .blog-category-parent {
            display: flex;
            gap: 20px;

            .left,
            .right {
              display: flex;
              gap: 10px;
              align-items: center;

              .icon {
                svg {
                  fill: var(--accent);
                }
              }

              .title {
                font-size: 14px;
                transition: var(--medd);

                text-decoration: none;

                a {
                  text-decoration: none !important;
                  color: black;
                }

                &:hover {
                  a {
                    color: var(--accent);
                  }
                }
              }
            }
          }

          .blog-heading {
            a {
              text-decoration: none;
              color: var(--black);
            }
          }

          .user {
            display: flex;
            align-items: center;
            gap: 10px;

            .admin {
              width: 30px;
              height: 30px;
              border-radius: 50px;
            }

            .admin-name {
              font-size: 14px;
            }
          }
        }

        &:hover {
          .blog-card-top {
            &::after {
              top: 0;
              opacity: 1;
            }
          }

          .blog-card-bottom {
            .blog-heading {

              // transition: var(--auic);
              a {
                color: var(--accent);
              }
            }
          }
        }
      }

      // @media only screen and (max-width:1000px) {
      //   .blog-card {
      //     width: calc(100% / 2 - 10px);
      //   }
      // }

      // @media only screen and (max-width:700px) {
      //   .blog-card {
      //     width: calc(100% - 10px);
      //   }
      // }
    }

    .bottom {

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media only screen and (max-width:1000px) {
  .blog-parent {
    padding: 50px   0px;
  }
}