.founder{
    padding: 50px 0px;
    height: fit-content;
    background-color: var(--backcolor1);

    h2{
        text-align: center;
    }

    .founder-container{
        width: 100%;
        height: 100%;
        display: flex;              
        align-items: center;
        justify-content: space-between;
        padding: 30px 40px;
        gap: 20px;
        

        .founder-left{
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .position{
                margin-top: -20px;
            }
            
        }
        .founder-right{
            height: 100%;
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 10px;
            }



        }
       
    }
}

 // Responsive adjustments
 @media (max-width: 768px) {
    .founder-container {
      flex-direction: column-reverse !important; 
      align-items: center;

      .founder-left{
        width: 100% !important;
        text-align: center !important;

      }

      .founder-right {
        width: 100% !important;
       

        img {
          width:70% !important;
        }
      }
    }
  }
 @media (max-width:500px) {
    .founder-container {
      flex-direction: column-reverse !important; 
      align-items: center;

      .founder-left{
        width: 100% !important;
        text-align: center !important;

        .position{
            font-size: 16px !important;
        }
        

      }

      .founder-right {
        width: 100% !important;
       

        img {
          width: 100% !important;
        }
      }
    }
  }
