.contact-parent {
    //    height:calc( 100svh - 60px);
    height: 100svh;

    background: linear-gradient(to right, #ffffff 75%, #e77924 25%);
    margin-left: auto;
    margin-right: auto;

    .contact-container {
        height: 100%;
        display: flex;
        // justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 60px;

        .contact-left {
            width: 55%;
            display: flex;

            .left-cont {
                // border: 1px solid rgb(25, 22, 22);
                display: flex;
                flex-direction: column;
                gap: var(--unit);

                .contact-heading {
                    font-size: 30px;
                }

                .contact-p {
                    max-width: 50ch;
                }

                .contact-form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;

                    ::placeholder {
                        color: rgba(17, 16, 16, 0.713);
                        font-family: "Kumbh Sans", sans-serif;
                    }

                    input,
                    textarea {
                        border: none;
                        width: 90%;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.577);
                        outline: none;
                        font-family: "Kumbh Sans", sans-serif;
                        padding: 5px;
                        color: rgb(71, 71, 71);
                    }
                }
            }

        }

        .contact-right {
            width: 45%;
            padding: 100px 20px;
            border-radius: 10px;
            background-color: var(--black);
            position: relative;

            .orange-box {
                height: 40px;
                width: 40px;
                background-color: var(--accent);
                position: absolute;
                border-radius: 5px;
                top: -20px;
                left: -20px;
            }

            .right-cont {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 15px;
                color: white;

                // border: 1px solid white;
                .contact-icon-box {
                    display: flex;
                    gap: 15px;
                    font-family: "Kumbh Sans", sans-serif;

                    svg {
                        color: white;
                        font-size: 30px;
                    }

                    .office_address {
                        flex-wrap: wrap;
                    }
                }

            }
        }
    }

}

@media only screen and (max-width:850px) {

    .contact-parent {
        padding-bottom: 50px;
        height: 100%;
        background: linear-gradient(to bottom, #ffffff 75%, #e77924 25%);

        .contact-container {
            gap: 40px;
            flex-direction: column;
            align-items: center;

            .contact-left {
                width: 100%;
                align-items: center;
                justify-content: center;

                .left-cont {
                    .contact-heading {
                        font-size: 24px;
                    }

                    .contact-p {
                        text-align: center !important;
                    }

                    .contact-form {

                        .cta1 {
                            text-align: center !important;
                            display: inline-block !important;
                            margin: 0 auto !important;
                        }
                    }
                }

            }

            .contact-right {
                width: 100%;
                padding:50px 10px;

            }
        }
    }
}

@media only screen and (max-width:500px) {
    .contact-parent {
        width: 100%;
        padding-top: 20px;

        .contact-container {
            width: 100%;



            .contact-left {
                width: 100%;

                .left-cont {
                    .contact-heading {
                        font-size: 22px;
                    }

                    .contact-form {

                        .cta1 {
                            text-align: center !important;
                            display: inline-block !important;
                            margin: 0 auto !important;
                        }
                    }
                }

                .contact-right {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width:1000px) {

    .contact-parent {
        margin-top: 10px;
        padding: 50px 10px;

        .contact-container {
            padding-top: 0px !important;
        }
    }
}

// @media only screen and (max-width:1000px) {
//     .contact-parent {

//         .contact-container {
//         padding: 50px 10px  !important;

//     }
// }
// }