.header-parent {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  transition: background-color 0.3s ease;
  z-index: 10;
  padding: 0px 20px;
  background-color: black;

  &.scrolled {
    background-color: var(--black);
    height: 70px;
  }

  .header-left {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      height: 50px;
      width: 100px;
      background: url('../../assets/white-logo.svg');
    }
  }

  .nav-links {
    display: flex;
    gap: 20px;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.7px;
    position: relative;

    a {
      text-decoration: none;
      color: var(--white);
      font-weight: 500;
      position: relative;

      &:hover {
        color: var(--accent);
      }
    }

    .dropdown {
      position: relative;

      .dropdown-toggle {
        cursor: pointer;
        color: var(--white);
        font-weight: 500;

        &:hover {
          color: var(--accent);
        }
      }

      .dropdown-menu {
        display: none;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        position: absolute;
        top: 150%;
        left: 0;
        background-color: rgb(255, 255, 255);
        padding: 10px 0;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.224);
        border-radius: 4px;
        z-index: 10;

        a {
          display: block;
          padding: 10px 20px;
          color: var(--black);
          text-decoration: none;
          border-bottom: 1px solid rgba(76, 76, 76, 0.181);

          &:hover {
            background-color: var(--primary-color);
            color: var(--accent);
          }

          &:nth-last-child(1) {
            border-bottom: none;
          }
        }
      }

      &.open .dropdown-menu {
        display: block;
        opacity: 1;
        transform: translateY(0);
      }

      &:hover .dropdown-menu {
        display: block;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .grid-icon {
      height: 25px;
      width: 25px;
      background: url('../../assets/grid.svg');
    }
  }
}

.offcanvas-header-parent {
  .offcanvas-header {
    display: flex;
    justify-content: space-between;

    .canvas-logo {
      height: 70px;
      width: 100px;
      background: url('../../assets/logo.jpg');
    }
  }

  .close-canvas {
    border: 2px solid rgb(0, 0, 0) !important;
  }

  .canvas-body {
    .icon-boxh {
      display: flex;
      gap: 10px;

      .iconsh {
        font-size: 25px;
        color: var(--accent);
      }

      .address {
        font-size: 16px;
      }
    }
  }
}

body .offcanvas-open {
  padding-right: 0 !important;
  overflow: hidden !important;
}
