.blog-detail-parent {
  padding: 200px 0px 100px 0px;
  background: var(--backcolor1);
  height: auto;

  .blog-detail-cont {
    display: flex;
    // align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 10px;
    border-radius: 10px;

    .left {
      width: 65%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: white;
      border-radius: 10px;
      padding: 10px;

      .blog-image {
        background: red;
        width: 100%;
        height: 350px;
        border-radius: 10px;
        position: relative;

        .date {
          position: absolute;
          bottom: 0;
          right: 20px;
          background: var(--accent);
          color: var(--white);
          padding: 20px 20px;
          border-radius: 10px 10px 0px 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .category-box {
        display: flex;
        gap: 20px;
        padding-top:5px;
        .icon{
          font-size: 20px;
        }


        .left-c,
        .middle,
        .right-c {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
      }
.blog-content{
  text-align:justify;
}

    }

    .right {
      width: 35%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .search-box {
        background-color: white;
        padding: 15px 20px;
        border-radius: 10px;
        display: flex;
        // align-items: flex-end;
        justify-content: space-between;

        .search-blog-form {
          display: flex;
          // align-items: flex-end;
          justify-content: space-between;
          width: 100%;

          input {
            border: none;
            width: 100%;

            &:focus {
              outline: none; // Removes the focus outline
              border: none; // Redundant but kept for consistency
            }
          }

          .search-in {
            cursor: pointer;
          }
        }
      }


      .latest-post-box {

        display: flex;
        flex-direction: column;
        gap: 30px;
        background: white;
        border-radius: 10px;
        padding: 10px;

        .post-div {
          display: flex;
          gap: 10px;
          align-items: center;

          .post-img {
            height: 70px;
            width: 120px;
            background: url('../../assets/hero/hero.jpg');
            border-radius: 5px;
          }

          .latest-post-heading {
            font-size: 16px;
          }
        }
      }

      .category-box {
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 10px;
        padding: 10px;

        .category-box-title {
          padding-bottom: 10px;
        }

        .active {
          background-color: var(--white) !important;
          border: 1px solid black !important;

          svg {
            display: block !important;
          }
        }

        .category {
          padding: 10px 5px;
          border: 1px solid var(--white);
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
                 transition: var(--trans);

          .cat-title {
            font-size: 18px;
            opacity: 0.8;
            padding: 0px !important;
            margin: 0px  !important;
          }

          svg {

            font-size: 30px;
            color: var(--accent);
            display: none;
          }

          &:hover {
            background-color: var(--white);
            border: 1px solid black;
            // padding: ;

            svg {
              display: block;
            }
          }
        }
      }

    }
  }

}





@media only screen and (max-width:1000px){
  .blog-detail-parent{
    padding:   50px 10px;

  }}

@media only screen and (max-width:800px){
  .blog-detail-parent{
 
    .blog-detail-cont {
flex-direction: column;

.left {
  width: 100%;
}


.right {width: 100%;
}


    }
  }
}