.blog-detail-parent {
  padding: 200px 0px 100px 0px;
  background: var(--backcolor1);
  height: auto;

  .blog-detail-cont {
    display: flex;
    // align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 10px;
    border-radius: 10px;

    .left {
      width: 65%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background-color: white;
      border-radius: 10px;
      padding: 10px;

      .blog-image {
        background: red;
        width: 100%;
        height: 350px;
        border-radius: 10px;
        position: relative;

        .date {
          position: absolute;
          bottom: 0;
          right: 20px;
          background: var(--accent);
          color: var(--white);
          padding: 20px 20px;
          border-radius: 10px 10px 0px 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      .category-box {
        display: flex;
        gap: 20px;

        .left-c,
        .middle,
        .right-c {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
        }
      }

      .title {
        font-size: 30px;
      }
    }

    .right {
      width: 35%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .search-box {
        background-color: white;
        padding: 15px 20px;
        border-radius: 10px;
        display: flex;
        // align-items: flex-end;
        justify-content: space-between;

        .search-blog-form {
          display: flex;
          // align-items: flex-end;
          justify-content: space-between;
          width: 100%;
          input {
            border: none;

            &:focus {
              outline: none; // Removes the focus outline
              border: none; // Redundant but kept for consistency
            }
          }
        }
      }


      .latest-post-box {

        display: flex;
        flex-direction: column;
        gap: 30px;
        background: white;
        border-radius: 10px;
        padding: 10px;

        .post-div {
          display: flex;
          gap: 10px;
          align-items: stretch;

          .post-img {
            height: 100px;
            width: 150px;
            background: url('../../assets/hero/hero.jpg');
            border-radius: 5px;
          }
        }
      }

      .category-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: white;
        border-radius: 10px;
        padding: 10px;


        .category {
          padding: 10px 20px;

          border-radius: 5px;
          display: flex;
          justify-content: space-between;
          transition: var(--med);

          svg {

            font-size: 30px;
            color: var(--accent);
            display: none;
          }

          &:hover {
            background-color: var(--white);
            border: 1px solid black;
            // padding: ;

            svg {
              display: block;
            }
          }
        }
      }

    }
  }

}