:root {


  --accent: #e77924;
  --wl: 1146px;
  --black: #000;
  --white: #fff;
  --unit: 10px;
  --quick: 0.3s all ease-out;
  --  : 0.6s all ease-out;
  --slow: 1s all ease-out;
  --bg-color: #fafafa;
  --footer-bg: #2f2e2e;
  --grey:rgb(230, 230, 230);
  --backcolor1:#fde9dbea;
  --backcolor2:#fff8f2;
  --bgcolor1:#FAF7EF;
  --transition: all 0.4s ease-in-out; 
}

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Kumbh+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');

*,
*::after,
*::before {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Domine", serif;
  // border: 1px solid red;
}

body {
  scroll-behavior: smooth;


}



h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Domine", serif;
  // letter-spacing: 1px;
  font-weight: 600;
  word-spacing: 0.8;
  line-height: 120% !important;

  span {
    font-size: inherit;
    color: var(--accent);
  }
}
h1{
  font-size: 50px;
  font-weight: 700;
}

h2{
  font-size: 40px;
  font-weight: 700;
}

h3{
  font-size: 28px;
  font-weight: 700;
}

p {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  color: grey;
  line-height: 25px;
  font-weight: 500;
  
  
  
  
  
}

a{
  font-family: "Kumbh Sans", sans-serif;
}

.cta {
  padding: 10px 25px;
  background: var(--accent);
  color: var(--white);
  border: none;
  transition: var(--quick);
  border-radius: 50px;
  width: fit-content;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-family: "Kumbh Sans", serif;
  font-weight: 700;

  &:hover {
    scale: 1.1;
    color: white;

  }
}

.parent {
  width: 100%;

  .container {
    max-width: var(--wl);
    margin: auto;
  }
}

.bg-img-cover {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.bg-img-contain {
  background-position: center center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.highlight {
  position: relative;
  color:black;  
  display: inline-block;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px; /* Adjust distance from text */
    left: 0;
    width: 100%;
    height: 40px; /* Height of scratch */
    background-image: url("../src/img/shape-03.svg"); /* Add a scratch SVG or PNG image here */
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    
  }
}
.highlight2 {
  position: relative;
  color:black;  
  display: inline-block;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    bottom: -30px; /* Adjust distance from text */
    left: 0;
    width: 100%;
    height: 40px; /* Height of scratch */
    background-image: url("../src/img/shape-02.svg"); /* Add a scratch SVG or PNG image here */
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    
  }
}

