.privacy-parent{
    .privacy-cont{
        padding:100px 10px;
        display:flex;
        gap:var(--unit);
        flex-direction: column;
        
        h1,h4{
            font-size:22px;
           line-height: 100%;
           font-weight: 500;
        }
    }
}